<div class="footer-category">

    <div class="container">

      <h2 class="footer-category-title">Brand directory</h2>

      <div class="footer-category-box">

        <h3 class="category-box-title">Ethnic Wear :</h3>

        <a href="/Component/product.html" class="footer-category-link">Traditional Sarees</a>
        <a href="/Component/product.html" class="footer-category-link">Kurtas</a>
        <a href="/Component/product.html" class="footer-category-link">Dupattas and Stoles</a>
        <a href="/Component/product.html" class="footer-category-link">Salwar Kameez</a>
        <a href="/Component/product.html" class="footer-category-link">Lehenga Choli</a>
        <a href="/Component/product.html" class="footer-category-link">Anarkali Suits</a>
        <a href="/Component/product.html" class="footer-category-link">Fusion Ethnic Wear</a>

      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Embroidered Lehengas :</h3>
      
        <a href="/Component/product.html" class="footer-category-link">Zardozi Lehenga</a>
        <a href="/Component/product.html" class="footer-category-link">Resham Lehenga</a>
        <a href="/Component/product.html" class="footer-category-link">Mirror Work Lehengas</a>
        <a href="/Component/product.html" class="footer-category-link">Gota Patti Lehengas</a>
        <a href="/Component/product.html" class="footer-category-link">Bridal Lehengas</a>
        <a href="/Component/product.html" class="footer-category-link">Hand-painted Lehengas</a>
        <a href="/Component/product.html" class="footer-category-link">Thread Work Lehengas</a>
        <a href="/Component/product.html" class="footer-category-link">Kundan Work Lehengas</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Seasonal Collections :</h3>
      
        <a href="/Component/product.html" class="footer-category-link">Spring Blossoms Collection</a>
        <a href="/Component/product.html" class="footer-category-link">Summer Escape Collection</a>
        <a href="/Component/product.html" class="footer-category-link">Autumn Harvest Collection</a>
        <a href="/Component/product.html" class="footer-category-link">Winter Wonderland Collection</a>
        <a href="/Component/product.html" class="footer-category-link">Holiday Sparkle Collection</a>
        <a href="/Component/product.html" class="footer-category-link">Wedding Collection</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Occasion :</h3>
      
        <a href="/Component/product.html" class="footer-category-link">Engagement</a>
        <a href="/Component/product.html" class="footer-category-link">Mehandi</a>
        <a href="/Component/product.html" class="footer-category-link">Haldi</a>
        <a href="/Component/product.html" class="footer-category-link">Sangeet</a>
        <a href="/Component/product.html" class="footer-category-link">Wedding</a>
        <a href="/Component/product.html" class="footer-category-link">Reception</a>
        <a href="/Component/product.html" class="footer-category-link">Cocktail</a>
      </div>

    </div>

  </div>

  <div class="footer-nav">

    <div class="container">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Popular Categories</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Ethnic Wear</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Embroidered Lehengasc</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Seasonal Collections</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Casual Wear</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Handmade Items</a>
        </li>

      </ul>

      <ul class="footer-nav-list">
      
        <li class="footer-nav-item">
          <h2 class="nav-title">Products</h2>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Prices drop</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">New products</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Best sales</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sitemap</a>
        </li>
      
      </ul>

      <ul class="footer-nav-list">
      
        <li class="footer-nav-item">
          <h2 class="nav-title">Our Company</h2>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Delivery</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Legal Notice</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Terms and conditions</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">About us</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Secure payment</a>
        </li>
      
      </ul>

      <ul class="footer-nav-list">
      
        <li class="footer-nav-item">
          <h2 class="nav-title">Services</h2>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Prices drop</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">New products</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Best sales</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>
      
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sitemap</a>
        </li>
      
      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Contact</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <address class="content">
            Delhi, India
          </address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="tel:+607936-8058" class="footer-nav-link">(+91)789-936-8058</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a href="mailto:example@gmail.com" class="footer-nav-link">example@gmail.com</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Follow Us</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div class="container">

      <!-- <img src="./assets/images/payment.png" alt="payment method" class="payment-img"> -->

      <p class="copyright">
        Copyright &copy; <a href="#">OmSai</a> all rights reserved.
      </p>

    </div>

  </div>
