<!-- navbar section -->
<link rel="stylesheet" href="/style/index.css">
<link rel="stylesheet" href="/style/product.css">
<!-- <link rel="stylesheet" href="./style/index.css"> -->
<div class="header-top">

  <div class="container">

    <ul class="header-social-container">

      <li>
        <a href="#" class="social-link">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>

    </ul>

    <div class="header-alert-news">
      <p>
        <b>Free Shipping</b>
        This Week Order Over - INR 10,000/-
      </p>
    </div>

    <div class="header-top-actions">

      <select name="currency">

        <option value="inr">Rupee ₹</option>
        <option value="usd">USD &dollar;</option>
      </select>

      <select name="language">

        <option value="en-US">English</option>
        <option value="es-ES">Hindi</option>

      </select>

    </div>

  </div>

</div>

  <div class="header-main">
    <div class="container">

      <a href="index.html" class="header-logo">
        <img src="/src/Omsai__.png" alt="OmSai logo"  width="220" height="80">
      </a>

      <div class="header-search-container">

        <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

        <button class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
        </button>

      </div>

      <div class="header-user-actions">

        <a href="/Component/login.html">
        <button class="action-btn">
          <ion-icon name="person-outline"></ion-icon>
        </button></a>

        <button class="action-btn">
          <ion-icon name="heart-outline"></ion-icon>
          <span class="count">0</span>
        </button>

        <button class="action-btn">
          <ion-icon name="bag-handle-outline"></ion-icon>
          <span class="count">0</span>
        </button>

      </div>

    </div>
  </div>


  <nav class="desktop-navigation-menu">

    <div class="container">

      <ul class="desktop-menu-category-list">

        <li class="menu-category">
          <a href="index.html" class="menu-title">Home</a>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">CATEGORIES</a>

          <div class="dropdown-panel">

            <ul class="dropdown-panel-list">

              <li class="menu-title">
                <a href="/Component/product.html">ETHNIC WEAR</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Traditional Sarees</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Kurtas</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Dupattas and Stoles</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Salwar Kameez</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Lehenga Choli</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Anarkali Suits</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Fusion Ethnic Wear</a>
              </li>

            </ul>

            <ul class="dropdown-panel-list">

              <li class="menu-title">
                <a href="#">Embroidered Lehengas</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Zardozi Lehenga</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Resham Lehenga</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Mirror Work Lehenga</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Gota Patti Lehenga</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Bridal Lehenga</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Hand-painted Lehenga</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Thread Work Lehenga</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Kundan Work Lehenga</a>
              </li>
            </ul>

            <ul class="dropdown-panel-list">

              <li class="menu-title">
                <a href="#">Seasonal Collections</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Spring Blossoms Collection</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Summer Escape Collection</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Autumn Harvest Collection</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Winter Wonderland Collection</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Holiday Sparkle Collection</a>
              </li>

              <li class="panel-list-item">
                <a href="#">wedding Collection</a>
              </li>

            </ul>

            <ul class="dropdown-panel-list">

              <li class="menu-title">
                <a href="#">CASUAL WEAR</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Embroidered T-Shirts and Tank Tops</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Embroidered Activewear Tops</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Embroidered Denim Jackets and Jeans</a>
              </li>

              <li class="panel-list-item">
                <a href="#">Embroidered Dresses</a>
              </li>

            </ul>

          </div>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Outfits</a>

          <ul class="dropdown-list">

            <li class="dropdown-item">
              <a href="#">Kurta Sets</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Designer Lehengas</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Jodhpuri</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Bridesmaid Dresses</a>
            </li>

          </ul>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Occassion</a>

          <ul class="dropdown-list">

            <li class="dropdown-item">
              <a href="#">Engagement</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Mehandi</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Sangeet</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Haldi</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Wedding</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Reception</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Cocktail</a>
            </li>

          </ul>
        </li>
        
        <li class="menu-category">
          <a href="#" class="menu-title">Store</a>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Blog</a>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Hot Offers</a>
        </li>

      </ul>

    </div>

  </nav>

  <div class="mobile-bottom-navigation">

    <button class="action-btn" data-mobile-menu-open-btn>
      <ion-icon name="menu-outline"></ion-icon>
    </button>

    <button class="action-btn">
      <ion-icon name="bag-handle-outline"></ion-icon>

      <span class="count">0</span>
    </button>

    <button class="action-btn">
      <ion-icon name="home-outline"></ion-icon>
    </button>

    <button class="action-btn">
      <ion-icon name="heart-outline"></ion-icon>

      <span class="count">0</span>
    </button>

    <button class="action-btn" data-mobile-menu-open-btn>
      <ion-icon name="grid-outline"></ion-icon>
    </button>

  </div>

  <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

    <div class="menu-top">
      <h2 class="menu-title">Menu</h2>

      <button class="menu-close-btn" data-mobile-menu-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <ul class="mobile-menu-category-list">

      <li class="menu-category">
        <a href="#" class="menu-title">Home</a>
      </li>

      <li class="menu-category">

        <button class="accordion-menu" data-accordion-btn>
          <p class="menu-title">CATEGORIES</p>

          <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>
        </button>

        <ul class="submenu-category-list" data-accordion>

          <li class="submenu-category">
            <a href="#" class="submenu-title">ETHNIC WEAR</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">Embroidered Lehengas</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">Seasonal Collections</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">CASUAL WEAR</a>
          </li>

        </ul>

      </li>

      <li class="menu-category">

        <button class="accordion-menu" data-accordion-btn>
          <p class="menu-title">Outfits</p>

          <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>
        </button>

        <ul class="submenu-category-list" data-accordion>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Kurta Sets</a>
          </li>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Earrings</a>
          </li>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Necklace</a>
          </li>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Makeup Kit</a>
          </li>

        </ul>

      </li>

      <li class="menu-category">

        <button class="accordion-menu" data-accordion-btn>
          <p class="menu-title">Jewelry</p>

          <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>
        </button>

        <ul class="submenu-category-list" data-accordion>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Earrings</a>
          </li>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Couple Rings</a>
          </li>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Necklace</a>
          </li>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Bracelets</a>
          </li>

        </ul>

      </li>

      <li class="menu-category">

        <button class="accordion-menu" data-accordion-btn>
          <p class="menu-title">Perfume</p>

          <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>
        </button>

        <ul class="submenu-category-list" data-accordion>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Clothes Perfume</a>
          </li>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Deodorant</a>
          </li>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Flower Fragrance</a>
          </li>

          <li class="submenu-category">
            <a href="/Component/product.html" class="submenu-title">Air Freshener</a>
          </li>

        </ul>

      </li>

      <li class="menu-category">
        <a href="/Component/product.html" class="menu-title">Blog</a>
      </li>

      <li class="menu-category">
        <a href="/Component/product.html" class="menu-title">Hot Offers</a>
      </li>

    </ul>

    <div class="menu-bottom">

      <ul class="menu-category-list">

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Language</p>

            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="/Component/product.html" class="submenu-title">English</a>
            </li>

            <li class="submenu-category">
              <a href="/Component/product.html" class="submenu-title">Espa&ntilde;ol</a>
            </li>

            <li class="submenu-category">
              <a href="/Component/product.html" class="submenu-title">Fren&ccedil;h</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">
          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Currency</p>
            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
          </button>

          <ul class="submenu-category-list" data-accordion>
            <li class="submenu-category">
              <a href="#" class="submenu-title">USD &dollar;</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">EUR &euro;</a>
            </li>
          </ul>
        </li>

      </ul>

      <ul class="menu-social-container">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="/Component/product.html" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="/Component/product.html" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

      </ul>

    </div>

  </nav>