<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>Shop Online for the Latest Trends in Embroidered Apparel Today | OmSaiEmbroideries.com</title>
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/src/favicon.png" type="image/x-icon">

    <!-- css link -->
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/product.css">
    


    <!-- google  fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

</head>
<body>
  <header>
    <!-- navbar -->
    <div id="navbar"></div>
  </header>
  

  <main>
      <div class="banner">
        <div class="container">
          <br><br><br><br>
          <div id="ethnicheader"> Ethnic Elegance</div>
            <div id="contentheader">
              <p>
                Step into a world of timeless grace with OmSai's exquisite collection of 
                embroidered ethnic wear. Whether you're embracing the vibrancy of everyday 
                life, dancing the night away at gatherings, or making a powerful statement 
                in the corporate realm, OmSai has curated the perfect array of ensembles to 
                elevate your style. Explore our mesmerizing selection
                  and embrace the allure of tradition with every stitch.
              </p>
              <br><br><br><br>
          </div>
        </div>
      </div>
      


    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <div class="sidebar  has-scrollbar" data-mobile-menu>

          <div class="sidebar-category">

            <div class="sidebar-top">
              <!-- <div id="refineby">
                <p id="refine">Refine By</p>
                <img
                  id="darrow"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLlFJyXnlww4XPP-vQQ3PNh7_y8LMYuUMXhx7LxZobswW6Cm2GlzebSYWWpMqebE3OPBA&usqp=CAU"
                  alt=""
                />
              </div> -->
              <h2 class="sidebar-title">Refine By</h2>
              <img
                  id="darrow"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLlFJyXnlww4XPP-vQQ3PNh7_y8LMYuUMXhx7LxZobswW6Cm2GlzebSYWWpMqebE3OPBA&usqp=CAU"
                  alt=""
                />

              <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </div>

            <ul class="sidebar-menu-category-list">

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <p class="menu-title">Categories</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Size</p>
                      <data value="300" class="stock" title="Available Stock">300</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">shorts & jeans</p>
                      <data value="60" class="stock" title="Available Stock">60</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">jacket</p>
                      <data value="50" class="stock" title="Available Stock">50</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">dress & frock</p>
                      <data value="87" class="stock" title="Available Stock">87</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <p class="menu-title">Prize</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Brand</p>
                      <data value="45" class="stock" title="Available Stock">45</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Formal</p>
                      <data value="75" class="stock" title="Available Stock">75</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Casual</p>
                      <data value="35" class="stock" title="Available Stock">35</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Safety Shoes</p>
                      <data value="26" class="stock" title="Available Stock">26</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <p class="menu-title">Ocassion</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Earrings</p>
                      <data value="46" class="stock" title="Available Stock">46</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Couple Rings</p>
                      <data value="73" class="stock" title="Available Stock">73</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Necklace</p>
                      <data value="61" class="stock" title="Available Stock">61</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <p class="menu-title">Discount</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Clothes Perfume</p>
                      <data value="12" class="stock" title="Available Stock">12 pcs</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Deodorant</p>
                      <data value="60" class="stock" title="Available Stock">60 pcs</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">jacket</p>
                      <data value="50" class="stock" title="Available Stock">50 pcs</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">dress & frock</p>
                      <data value="87" class="stock" title="Available Stock">87 pcs</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <p class="menu-title">Colors</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Shampoo</p>
                      <data value="68" class="stock" title="Available Stock">68</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Sunscreen</p>
                      <data value="46" class="stock" title="Available Stock">46</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Body Wash</p>
                      <data value="79" class="stock" title="Available Stock">79</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Makeup Kit</p>
                      <data value="23" class="stock" title="Available Stock">23</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <p class="menu-title">Size & Fit</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Sunglasses</p>
                      <data value="50" class="stock" title="Available Stock">50</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Lenses</p>
                      <data value="48" class="stock" title="Available Stock">48</data>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <p class="menu-title">Rating</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                  </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Shopping Bag</p>
                      <data value="62" class="stock" title="Available Stock">62</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Gym Backpack</p>
                      <data value="35" class="stock" title="Available Stock">35</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Purse</p>
                      <data value="80" class="stock" title="Available Stock">80</data>
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a href="#" class="sidebar-submenu-title">
                      <p class="product-name">Wallet</p>
                      <data value="75" class="stock" title="Available Stock">75</data>
                    </a>
                  </li>

                </ul>

              </li>

            </ul>

          </div>

          <!-- extra -->
          <div class="product-showcase">
            <div class="showcase-wrapper">

              <div class="showcase-container">

                <div class="showcase">
                  <div class="showcase-content"></div>
                </div>
                <div class="showcase">
                  <div class="showcase-content"></div>
                </div>
                <div class="showcase">
                  <div class="showcase-content"></div>
                </div>
                <div class="showcase">
                  <div class="showcase-content"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!--
            - PRODUCT GRID
          -->

          <div class="product-main">

            <h2 class="title"></h2>
    
            <div class="product-grid">
    
              <div class="showcase">
    
                <div class="showcase-banner">
    
                  <img src="/src/prod1.jpeg" alt="Chandrima Ivory Chanderi Floral Applique Kurta With Pant" width="300" class="product-img default">
                  <img src="/src/prod1.1.jpeg" alt="Chandrima Ivory Chanderi Floral Applique Kurta With Pant" width="300" class="product-img hover">
    
                  <div class="showcase-actions">
    
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
    
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
    
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
    
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
    
                  </div>
    
                </div>
    
                <div class="showcase-content">
    
                  <a href="#" class="showcase-category">Chanderi Embroidered Kurta Set</a>
    
                  <a href="#">
                    <h3 class="showcase-title">Chandrima Ivory Chanderi Floral Applique Kurta With Pant</h3>
                  </a>
    
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
    
                  <div class="price-box">
                    <p class="price"> ₹4800</p>
                    <del> ₹7500</del>
                  </div>
    
                </div>
    
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod2.jpeg" alt="Pure Garment Dyed Cotton Shirt" class="product-img default"
                    width="300">
                  <img src="/src/prod2.1.jpeg" alt="Pure Garment Dyed Cotton Shirt" class="product-img hover"
                    width="300">
              
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">SChandrima Cutwork Applique</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Embroidered Kurta And Pant Set | Pink, Cutwork, Chanderi, Round, Flared Sleeves</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price"> ₹4500</p>
                    <del> ₹5600</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod3.jpeg" alt="MEN Yarn Fleece Full-Zip Jacket" class="product-img default"
                    width="300">
                  <img src="/src/prod3.1.jpeg" alt="MEN Yarn Fleece Full-Zip Jacket" class="product-img hover"
                    width="300">
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">Jacket</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Tapestry and Silk</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price"> ₹5800</p>
                    <del> ₹6500</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod4.jpeg" alt="Chandrima Cutwork Applique Embroidered Kurta And Pant Set" class="product-img default"
                    width="300">
                  <img src="/src/prod4.1.jpeg" alt="Chandrima Cutwork Applique Embroidered Kurta And Pant Set" class="product-img hover"
                    width="300">
              
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">Chandrima</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Pink Chanderi Cutwork Applique Embroidered Kurta And Pant Set</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price"> ₹4500</p>
                    <del> ₹6500</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod5.jpeg" alt="Desert Shine by Sulochana Jangir Motif Kurta And Pant Set" class="product-img default"
                    width="300">
                  <img src="/src/prod5.1.jpeg" alt="CDesert Shine by Sulochana Jangir Motif Kurta And Pant Set" class="product-img hover"
                    width="300">
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">Desert Shine by Sulochana Jangir Motif Kurta And Pant Set</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Ice pink handwoven chanderi kurta with patchwork and resham embroidered motifs</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price"> ₹9900</p>
                    <del>₹10500</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod6.jpeg" alt="Yellow Muslin Cotton Embroidered Kurta Set" class="product-img default"
                    width="300">
                  <img src="/src/prod6.1.jpeg" alt="Yellow Muslin Cotton Embroidered Kurta Set" class="product-img hover"
                    width="300">
              
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">Yellow Muslin Cotton Embroidered Kurta Set</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Embroidered Thread Rue Floral Applique Kurta Set For Women</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price">₹15000</p>
                    <del>₹17000</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod7.jpeg" alt="NAAZ BY NOOR" class="product-img default"
                    width="300">
                  <img src="/src/prod7.1.jpeg" alt="NAAZ BY NOOR" class="product-img hover" width="300">
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">NAAZ BY NOOR</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Blue Cotton Printed Floral Motifs Square Neck Embroidered Kurta Pant Set For Women</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price">₹10000</p>
                    <del>₹12000</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod8.jpeg" alt="Samyukta Singhania Jamdani Woven Pattern Placement Kurta" class="product-img default"
                    width="300">
                  <img src="/src/prod8.1.jpeg" alt="Samyukta Singhania Jamdani Woven Pattern Placement Kurta" class="product-img hover"
                    width="300">
              
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">Samyukta Singhania Jamdani Woven Pattern Placement Kurta</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Cotton silk long kurta with bird motifs placed all over.</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price">₹2500</p>
                    <del>₹3000</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod9.jpeg" alt="AHLAM Floral Kurta Set" class="product-img default"
                    width="300">
                  <img src="/src/prod9.1.jpeg" alt="AHLAM Floral Kurta Set" class="product-img hover"
                    width="300">
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">AHLAM Floral Kurta Set</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Cream floral embroidered mandarin collar kurta crafted in modal silk</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price">₹3200</p>
                    <del>₹4500</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod10.jpeg" alt="Apeksha Jain Label Resham Pant Set" class="product-img default"
                    width="300">
                  <img src="/src/prod10.1.jpeg" alt="Apeksha Jain Label Resham Pant Set" class="product-img hover"
                    width="300">
              
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">Apeksha Jain Label Resham Pant Set</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Ice green kurta with resham, zari floral embroidery and potli button detailing</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price">₹5800</p>
                    <del>₹6400</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod11.jpeg" alt="Begum Pant Set" class="product-img default"
                    width="300">
                  <img src="/src/prod11.1.jpeg" alt="Begum Pant Set" class="product-img hover"
                    width="300">
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">Begum Pant Set</a>
              
                  <h3>
                    <a href="#" class="showcase-title">Women, Kurta Sets, Straight Kurta Sets, Ivory, Cutdana, Kurta Chanderi Silk, Notched, Three Quarter</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price">₹5000</p>
                    <del>₹6500</del>
                  </div>
              
                </div>
              
              </div>
    
              <div class="showcase">
              
                <div class="showcase-banner">
                  <img src="/src/prod12.jpeg" alt="Organza Embroidered Kurta Set"
                    class="product-img default" width="300">
                  <img src="/src/prod12.1.jpeg" alt="Organza Embroidered Kurta Set"
                    class="product-img hover" width="300">
              
              
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
              
                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">Organza Embroidered Kurta Set</a>
              
                  <h3>
                    <a href="#" class="showcase-title">White Kurta French Knot Notched Pant Set For Women</a>
                  </h3>
              
                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>
              
                  <div class="price-box">
                    <p class="price">₹7800</p>
                    <del>₹8500</del>
                  </div>
              
                </div>
              
              </div>
    
            </div>
    
          </div>
    
        </div>
    
      </div>
    
    </div>

  </main>

  <section id="pagination" class="">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
  </section>

  <br>
  <br>
  <footer>
    <div id="footer"></div>
  </footer>

  <script src="./main.js"></script>

  
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>
</html>